/* Restriction de la taille de l'image dans l'affichage des résultats */

.display-search {
  object-fit: cover;
  width: 25vh;
  height: 25vh;
}

.bg-search {
  background-color: #202a3f;
}

.continueReadingButton {
  margin-bottom: 30px;
}