.containerOverlay {
  position: relative;
  width: 100%;
}

.imageOverlay {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 100%;
  opacity: 0.7;
  background-color: #202a3f;
}

.textOverlay {
  color: #f9fcfd;
  position: absolute;
  top: 10%;
  left: 5%;
  text-align: left;
}

.bg-gradient {
  background-image: linear-gradient(to bottom, #202a3f, #2b3e59, #345374, #3b698f, #4081ab, #5293bb, #64a6ca, #77b9da, #98cae2, #b9dbea, #d9ecf3, #f9fcfd);
}

.img-apod {
  width: 50vw;
  height: auto;
  object-fit: cover;
}

.container-apod {
  width: 90vw;
}