#articleHome img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  float: left;
}

#articleHome {
  width: 1000px;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#articleHome div {
  overflow: auto;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
}

#articleHome .date{
  padding-top: 10px;
  color: grey;
}

#articleHome Button {
  margin-top: 30px;
}