/* .collectionDiv {
  
} */


#collection .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#collections{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 80%;

/* margin haut et bas de collection */
  margin-top: 50px;
  margin-bottom: 50px;
  
  text-align: center;
}

.allCollections {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  height: 500px;
  width: 20%;
}


.collectionsText {
  margin: auto;
  text-align: center;
  color: red;
  font-size: 3em;
  padding: 200px 0;
}

/* #f9fcfd */