#footer {
  background-image: url(http://static1.lemag.weekendesk.fr/articles/5/16/15/@/3950-le-5-6-7-aout-2016-les-nuits-des-etoil-article_big-1.jpg);
  color: #f9fcfd;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logoFooter {
  width: 100px;
  margin: 30px
}