@font-face {
  font-family: 'azonix';
  src: url('./font/Azonix/Azonix.otf') format("OpenType");
}

@media screen and (max-width: 00px) {}

@media screen and (max-width: 800px) {}

header {
  font-family: "azonix";
}

.containerOverlay {
  position: relative;
}

.imageHeader {
  height: 13vw;
  object-fit: cover;
  width: 100%;
}

.overlayHeader {
  position: absolute;
  top: 2vh;
  bottom: 0;
  left: 2vh;
  right: 25vw;
  height: 10vw;
  width: auto;
}

.titreOverlay {
  position: absolute;
  top: 2vh;
  bottom: 0;
  left: 13vw;
  height: 10vh;
  font-size: 7vw;
}