/*
* NAVBAR STYLING START
*/
/* Navbar transparency effect */
.navContainer {
  background-color: var(--dark-color);
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
  transition: var(--trans);
}
.navContainer:hover {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
  transition: var(--trans);
}
/* NavbarToggler button*/
.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(249, 252, 253, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 
/* General navbar */
.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.nav-item, .nav-input, .nav-btn {
  display: inline-block;
  flex-grow: 1;
}
/* Link styling */
a.navbar-brand {
  padding: 8px;
}
a.nav-link, a.navbar-brand{
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light-color);
  transition: var(--trans);
}
a.nav-link:hover,  a.navbar-brand:hover{
  color: var(--secondary-color);
  transition: var(--trans);
}
a.nav-link.active, a.navbar-brand.active {
  color: var(--secondary-color); 
}
/* Search button styling */
.nav-btn .btn {
  font-weight: bold;
  color: var(--light-color);
  transition: var(--trans);
}
.nav-btn .btn:focus{
  box-shadow: var(--shadowBox);
}
.nav-btn .btn:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: var(--trans);
}
/* Search input styling */
.nav-input .form-control {
  color: var(--secondary-color);
  background-color: var(--light-color);
}
.nav-input .form-control:focus {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: var(--shadowBox);
}
.nav-input .form-control::placeholder {
  color: var(--secondary-color);
}
/*
* NAVBAR STYLING End
*/