@font-face 
{
    font-family: 'azonix';
    src: url('./font/Azonix/Azonix.otf') format("OpenType");
}

#title {
  font-family: "azonix";
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

#title h1 {
  margin-bottom: 50px;
  font-size: 3em;
}

