/*
* CSS Variables
*/
:root {
  --primary-color: #293347;
  --secondary-color: #43a2d0;
  --dark-color: #202a3f;
  --light-color: #f9fcfd;
  --trans: all 600ms;
}

/*
* NAVBAR STYLING START
*/
/* Navbar transparency effect */
.navContainer {
  background-color: var(--dark-color);
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
  transition: var(--trans);
}
.navContainer:hover {
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
  transition: var(--trans);
}
/* NavbarToggler */
.navToggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(249, 252, 253, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navCollapse {
  display: flex;
  justify-content: center;
}

